#container {
    width: 100%;
    border: 3px dotted #cccc;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.accidentphotos-container {
    max-height: 400px;
    overflow-y: scroll;
}