<div class="bg-container">
    <div class="container">
        <div class="container-fluid">
            <br>
        </div>

        <nav class="navbar navbar-expand-sm navbar-bg sticky-top">
            <div class="container-fluid d-md-flex flex-md-row">
                <a class="navbar-brand" href="#">
                    <img src="./assets/Images/logo-2.png" width="150" />
                </a>
            </div>
        </nav>
        <div class="home-conatiner">
            <div class="row mt-4">
                <div class="col-md-12 redirectStyle" [routerLink]="['/Login/Home']" routerLinkActive="router-link-active">
                    <img src="./assets/Images/sessionExpired.jpg">
                </div>
            </div>
        </div>
    </div>
</div>