@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root {
    --clr-border-timeline: rgb(90, 11, 11);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
}

.section-timeline {
    position: relative;
    padding: 10px 0;
    overflow: auto;
    min-width: 700px;
}

.section-timeline .container {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    min-height: 500vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-timeline .timeline {
    list-style: none;
    position: relative;
    margin: 30px 0;
}

.section-timeline .timeline li {
    height: 80px;
    width: 80px;
    position: absolute;
    border-color: var(--clr-border-timeline);
}

.section-timeline .timeline li:nth-child(odd) {
    border-style: solid;
    border-width: 2px 2px 2px 0;
    left: -40px;
    transform: translateX(50%);
    border-radius: 0 80px 80px 0;
    box-shadow: 13px 0 15px -12px rgba(0, 0, 0, .3);
}

.section-timeline .timeline li:nth-child(even) {
    left: -40px;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    transform: translateX(-50%);
    border-radius: 80px 0 0 80px;
    box-shadow: -15px 0 15px -12px rgba(0, 0, 0, .5);
}


/* Style li */
.section-timeline .timeline li:nth-child(2) {
    top: 0px;
}
.section-timeline .timeline li:nth-child(2) {
    top: 78px;
}

.section-timeline .timeline li:nth-child(3) {
    top: 156px;
}

.section-timeline .timeline li:nth-child(4) {
    top: 234px;
}

.section-timeline .timeline li:nth-child(5) {
    top: 312px;
}

.section-timeline .timeline li:nth-child(6) {
    top: 390px;
}

.section-timeline .timeline li:nth-child(7) {
    top: 468px;
}

.section-timeline .timeline li:nth-child(8) {
    top: 546px;
}

.section-timeline .timeline li:nth-child(9) {
    top: 624px;
}

.section-timeline .timeline li:nth-child(10) {
    top: 702px;
}

.section-timeline .timeline li:nth-child(11) {
    top: 780px;
}
.section-timeline .timeline li:nth-child(12) {
    top: 858px;
}
.section-timeline .timeline li:nth-child(13) {
    top: 936px;
}
.section-timeline .timeline li:nth-child(14) {
    top: 1014px;
}
.section-timeline .timeline li:nth-child(15) {
    top: 1092px;
}

.section-timeline .timeline li:nth-child(16) {
    top: 1170px;
}
.section-timeline .timeline li:nth-child(17) {
    top: 1248px;
}

.section-timeline .timeline li:nth-child(18) {
    top: 1326px;
}

.section-timeline .timeline li:nth-child(19) {
    top: 1404px;
}
.section-timeline .timeline li:nth-child(20) {
    top: 1482px;
}
.section-timeline .timeline li:nth-child(21) {
    top: 1560px;
}
.section-timeline .timeline li:nth-child(22) {
    top: 1638px;
}
.section-timeline .timeline li:nth-child(23) {
    top: 1716px;
}

.section-timeline .timeline li:nth-child(24) {
    top: 1794px;
}
/* Style pseudo Element */

.section-timeline .timeline li:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-border-timeline);
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 13px;
    background-color: black;
    color: #FFF;
}

.section-timeline .timeline li:nth-child(odd):before {
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.section-timeline .timeline li:nth-child(even):before {
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.section-timeline .timeline li:nth-child(1):after,
.section-timeline .timeline li:last-child:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--clr-border-timeline);
}

.section-timeline .timeline li:nth-child(1):after {
    top: 0;
    transform: translate(-50%, -50%)
}

.section-timeline .timeline li:last-child:after {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%)
}

.section-timeline .timeline li:nth-child(1):before {
    content: '1'
}

.section-timeline .timeline li:nth-child(2):before {
    content: '2'
}

.section-timeline .timeline li:nth-child(3):before {
    content: '3'
}

.section-timeline .timeline li:nth-child(4):before {
    content: '4'
}

.section-timeline .timeline li:nth-child(5):before {
    content: '5'
}

.section-timeline .timeline li:nth-child(6):before {
    content: '6'
}

.section-timeline .timeline li:nth-child(7):before {
    content: '7'
}

.section-timeline .timeline li:nth-child(8):before {
    content: '8'
}

.section-timeline .timeline li:nth-child(9):before {
    content: '9'
}

.section-timeline .timeline li:nth-child(10):before {
    content: '10'
}

.section-timeline .timeline li:nth-child(11):before {
    content: '11'
}
.section-timeline .timeline li:nth-child(12):before {
    content: '12'
}
.section-timeline .timeline li:nth-child(13):before {
    content: '13'
}
.section-timeline .timeline li:nth-child(14):before {
    content: '14'
}
.section-timeline .timeline li:nth-child(15):before {
    content: '15'
}
.section-timeline .timeline li:nth-child(16):before {
    content: '16'
}
.section-timeline .timeline li:nth-child(17):before {
    content: '17'
}
.section-timeline .timeline li:nth-child(18):before {
    content: '18'
}
.section-timeline .timeline li:nth-child(19):before {
    content: '19'
}
.section-timeline .timeline li:nth-child(20):before {
    content: '20'
}
.section-timeline .timeline li:nth-child(21):before {
    content: '21'
}
.section-timeline .timeline li:nth-child(22):before {
    content: '22'
}
.section-timeline .timeline li:nth-child(23):before {
    content: '23'
}
.section-timeline .timeline li:nth-child(24):before {
    content: '24'
}
.section-timeline .timeline li:nth-child(25):before {
    content: '25'
}
.section-timeline .timeline li:nth-child(26):before {
    content: '26'
}
.section-timeline .timeline li:nth-child(27):before {
    content: '27'
}
.section-timeline .timeline li:nth-child(28):before {
    content: '28'
}
.section-timeline .timeline li:nth-child(29):before {
    content: '29'
}
.section-timeline .timeline li:nth-child(30):before {
    content: '30'
}


/* Style content */

.section-timeline .timeline .content {
    border: 0.5px solid grey;
    position: absolute;
    min-width: 350px;
    border-radius: 10px;
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);
    max-height: 250px;
    box-shadow: 0 15px 25px -20px rgba(0, 0, 0, .2);
}

.section-timeline .timeline li:nth-child(odd) .content {
    left: calc(100% + 30px);
}

.section-timeline .timeline li:nth-child(even) .content {
    right: calc(100% + 30px);
}

.section-timeline .timeline .content>* {
    padding: .5rem;
}

.section-timeline .timeline .content h3 {
    text-align: center;
    margin: 0;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .4);
}

.section-timeline .timeline li:nth-child(1) h3 {
    background-color: #e74c3c;
}

.section-timeline .timeline li:nth-child(2) h3 {
    background-color: #2ecc71;
}

.section-timeline .timeline li:nth-child(3) h3 {
    background-color: #e67e22;
}

.section-timeline .timeline li:nth-child(4) h3 {
    background-color: #1abc9c;
}

.section-timeline .timeline li:nth-child(5) h3 {
    background-color: #9b59b6;
}

.section-timeline .timeline li:nth-child(6) h3 {
    background-color: #fff00f;
}

.section-timeline .timeline li:nth-child(7) h3 {
    background-color: #1abc9c;
}

.section-timeline .timeline li:nth-child(8) h3 {
    background-color: #9b59b6;
}

.section-timeline .timeline li:nth-child(9) h3 {
    background-color: #1abc9c;
}

.section-timeline .timeline li:nth-child(10) h3 {
    background-color: #e74c3c;
}

.section-timeline .timeline li:nth-child(11) h3 {
    background-color: #e67e22;
}

.section-timeline .timeline .content p {
    font-size: 14;
    line-height: 1.3;
}

.section-timeline .timeline li h3.pending-timeline {
    background-color: #fff00f;
}

.section-timeline .timeline li h3.success-timeline {
    background-color: #1abc9c;
}

.success {
    width: 100%;
    height: 15px;
    background-color: #1abc9c;
}

.pending {
    width: 100%;
    height: 15px;
    background-color: #fff00f;
}


.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width:110px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }