<div class="card">
    <div class="card-header">
    <div class="card-title">
        <h6 class="admin-title-header"><i class="fas fa-user-tie"></i> &nbsp;&nbsp; EXCHANGE MASTER</h6>
    </div>
</div>
    <div class="card-body">
        <div class="row">
            <div class="col-1 offset-10 mr-5">
                <button mat-raised-button color="warn" (click)="onAddNew(mymodal)">
                  ADD NEW EXCHANGE
                </button>
            </div>
            <ng-container *ngIf="tableData">
                <app-admin-table [cols]="columnHeader" [data]="tableData" (onAction)="onActionHandler($event,mymodal)" changestatus="true" (onStatus)="onstatus($event)"></app-admin-table>
            </ng-container>
        </div>
    </div>
</div>



<!--<ng-container #template>
    <div class="card-body">
    <form [formGroup]="FormGroupData">
        <div class="row my-2">
            <div class="col-4">
                <mat-form-field class="mat-form-width" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="Select Country"  matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                        <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Countryshortname">
                            {{option.Countryname}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                        {{FormGroupData.controls['Countryid'].errors.message}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Currency</mat-label>
                    <input type="text" placeholder="Select Currency" matInput formControlName="Currencyid" [matAutocomplete]="auto1" required>
                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="onChangeCurrencyValue($event.option.value)">
                        <mat-option *ngFor="let option of filteredCurrencyList | async" [value]="option.CodeDesc">
                            {{option.CodeDesc}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FormGroupData.get('Currencyid').errors">
                        {{FormGroupData.controls['Currencyid'].errors.message}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>App Core Code</mat-label>
                    <input matInput type="text" formControlName="Rsacode" />
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Exchange Rate</mat-label>
                    <input matInput type="text" appNumbersOnly formControlName="Exchangerate" />
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput type="text" formControlName="Remarks" />
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="py-1">Status</div>
                <mat-radio-group aria-label="Select an option" formControlName="Status">
                    <mat-radio-button value="Y">Active</mat-radio-button>
                    <mat-radio-button value="N">De-Active</mat-radio-button>
                    <mat-radio-button value="R">Referral</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-action-row class="justify-content-center">
            <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
            <button mat-raised-button color="primary" (click)="onSaveExchangeDetials()">Submit</button>
        </mat-action-row>
    </form>
    </div>
</ng-container>-->

<ng-template #mymodal let-modal>
    <div class="modal-header" style="height: 48px;">
        <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Exchange Master</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="FormGroupData">
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field class="mat-form-width" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input type="text" placeholder="Select Country"  matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Code">
                                {{option.CodeDesc}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                            {{FormGroupData.controls['Countryid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Currency</mat-label>
                        <input type="text" placeholder="Select Currency" matInput formControlName="Currencyid" [matAutocomplete]="auto1" required>
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="onChangeCurrencyValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCurrencyList | async" [value]="option.Code">
                                {{option.CodeDesc}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Currencyid').errors">
                            {{FormGroupData.controls['Currencyid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>App Core Code</mat-label>
                        <input matInput type="text" formControlName="Rsacode" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Exchange Rate</mat-label>
                        <input matInput type="text" formControlName="Exchangerate"/>
                        <!--(keypress)="allowNumericDigitsOnlyOnKeyUp($event)"-->
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Remarks</mat-label>
                        <input matInput type="text" formControlName="Remarks" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="py-1">Status</div>
                    <mat-radio-group aria-label="Select an option" formControlName="Status">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">De-Active</mat-radio-button>
                        <!--<mat-radio-button value="R">Referral</mat-radio-button>-->
                    </mat-radio-group>
                </div>
            </div>
            <!--<mat-action-row class="justify-content-center">
                <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
                <button mat-raised-button color="primary" (click)="onSaveExchangeDetials()">Submit</button>
            </mat-action-row>-->
        </form>
    </div>
    <div class="modal-footer">
        <!--modal.close('Save click')-->
        <button mat-raised-button color="warn" (click)="modal.dismiss('Cross click')">Close</button>
        <button mat-raised-button color="primary" (click)="onSaveExchangeDetials(modal)">Submit</button>
    </div>
  </ng-template>


<!--<mat-card>
<mat-expansion-panel hideToggle [expanded]="panelOpen">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h6 class="admin-title-header"><i class="fas fa-user-tie"></i> &nbsp;&nbsp; EXCHANGE MASTER</h6>
            </mat-panel-title>
            <mat-panel-description class="admin-grid-header">
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-1 offset-10 mr-5">
                <button mat-raised-button color="warn" (click)="onAddNew()">
                  ADD NEW EXCHANGE
                </button>
            </div>
        </div>
        <ng-container *ngIf="tableData">
            <app-admin-table [cols]="columnHeader" [data]="tableData" (onAction)="onActionHandler($event)" changestatus="true" (onStatus)="onstatus($event)"></app-admin-table>
        </ng-container>
    </mat-expansion-panel>
    <ng-container *ngIf="!panelOpen">
        <form [formGroup]="FormGroupData">
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field class="mat-form-width" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input type="text" placeholder="Select Country"  matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Countryshortname">
                                {{option.Countryname}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                            {{FormGroupData.controls['Countryid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Currency</mat-label>
                        <input type="text" placeholder="Select Currency" matInput formControlName="Currencyid" [matAutocomplete]="auto1" required>
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="onChangeCurrencyValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCurrencyList | async" [value]="option.CodeDesc">
                                {{option.CodeDesc}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Currencyid').errors">
                            {{FormGroupData.controls['Currencyid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>App Core Code</mat-label>
                        <input matInput type="text" formControlName="Rsacode" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Exchange Rate</mat-label>
                        <input matInput type="text" appNumbersOnly formControlName="Exchangerate" />
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Remarks</mat-label>
                        <input matInput type="text" formControlName="Remarks" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="py-1">Status</div>
                    <mat-radio-group aria-label="Select an option" formControlName="Status">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">De-Active</mat-radio-button>
                        <mat-radio-button value="R">Referral</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <mat-action-row class="justify-content-center">
                <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
                <button mat-raised-button color="primary" (click)="onSaveExchangeDetials()">Submit</button>
            </mat-action-row>
        </form>
    </ng-container>
</mat-card>-->