<h2 mat-dialog-title>Terms & Conditions</h2>

<mat-dialog-content class="mat-typography">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            <div class="row">
                <div class="col-md-2 text-center" *ngIf="logindata.UserType == 'garage'">
                    Select
                </div>
                <div class="col-md-10 text-center">
                    Terms Description
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-action" *ngFor="let terms of termsList">
            <div class="row mt-2">
                <div class="col-md-2 text-center py-3" *ngIf="logindata.UserType == 'garage'">
                    <mat-checkbox (change)="onTermsSelect($event,terms)" [ngModel]="terms.checked == 'Y'" class="example-margin"></mat-checkbox>
                </div>
                <div class="col-md-10">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput [disabled]="logindata.UserType != 'garage'" [(ngModel)]="terms.Termsdesc" required name="Losstypeidlist"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </li>
    </ul>
    <div class="text-center mt-3 mb-2">
        <button mat-raised-button mat-dialog-close class="mx-2" color="warn">Close</button>&nbsp;&nbsp;
        <button mat-raised-button color="accent" *ngIf="logindata.UserType == 'garage'" (click)="addNewRow()">Add New</button>&nbsp;&nbsp;
        <button mat-raised-button mat-dialog-close *ngIf="logindata.UserType == 'garage'" class="btn btn-success" (click)="onFinalSubmit()">Accept</button>
    </div>
</mat-dialog-content>
