<div class="card">
        <div class="card-header">
            <div class="card-title">
                <h6 class="admin-title-header"><i class="fas fa-user-tie"></i>NATIONALITY MASTER</h6>
            </div>
        </div>
        <div class="row mt-3 mr-2">
            <div class="col-2 offset-9">
                <button mat-raised-button color="warn" (click)="onAddNew(namodal)">
              ADD NEW NATIONALITY
            </button>
            </div>
        </div>
        <div class="card-body">
        <div *ngIf="nationalityListGrid?.length > 0">
            <app-admin-table [cols]="columnHeader" [data]="tableData" (onAction)="onActionHandler($event,namodal)" (onChangeCheckBox)="onChangeCheckBox($event)" changestatus="true" (onStatus)="onstatus($event)"></app-admin-table>
        </div>
        <div class="text-center" *ngIf="nationalityListGrid?.length == 0 && InsuCode!=''">
            <h3>No Data Available</h3>
        </div>
         </div>
  
    
   
</div>


<ng-template #namodal let-modal>
    <div class="modal-header" style="height: 48px;">
        <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Nationality Master</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="FormGroupData">
            <div class="row my-2 mt-2">
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Nationality</mat-label>
                        <input matInput type="text" formControlName="Nationalitydesc" maxlength="50" required/>
                    </mat-form-field>
                </div>
                <!--<div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field class="mat-form-width" appearance="fill">
                        <mat-label>Nationality</mat-label>
                        <input type="text" placeholder="Select Country"  matInput formControlName="Nationalitydesc" [matAutocomplete]="auto2" required>
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredNationalityList | async" [value]="option.NationalityId">
                                {{option.Nationalityname}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>-->
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Core App Code</mat-label>
                        <input matInput type="text" formControlName="Coreappcode" maxlength="10" required/>
                    </mat-form-field>
                </div>
              
    
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput type="text" formControlName="Remarks" maxlength="50" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                
                <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Insurance Company</mat-label>
                        <input type="text" placeholder="Select Insurance" matInput formControlName="Inscompanyid" [matAutocomplete]="auto" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onChangeCompanyValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredInsuranceComp | async" [value]="option.Code">
                                {{option.CodeDesc}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Inscompanyid').errors">
                            {{FormGroupData.controls['Inscompanyid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="py-1">Status</div>
                    <mat-radio-group aria-label="Select an option" formControlName="Status">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">De-Active</mat-radio-button>
                        <!--<mat-radio-button value="R">Referral</mat-radio-button>-->
                    </mat-radio-group>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--modal.close('Save click')-->
        <button mat-raised-button color="warn" (click)="modal.dismiss('Cross click')">Close</button>
        <button mat-raised-button color="primary" (click)="onFormSubmit(modal)">Submit</button>
    </div>
  </ng-template>

<!--<ng-container *ngIf="!panelOpen">
    <form [formGroup]="FormGroupData">
        <div class="row my-2 mt-2">
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Nationality</mat-label>
                    <input matInput type="text" formControlName="Nationalitydesc" maxlength="50" />
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Core App Code</mat-label>
                    <input matInput type="text" formControlName="Coreappcode" maxlength="10" />
                </mat-form-field>
            </div>
          

            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput type="text" formControlName="Remarks" maxlength="50"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Insurance Company</mat-label>
                    <input type="text" placeholder="Select Insurance" matInput formControlName="Inscompanyid" [matAutocomplete]="auto" required>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onChangeCompanyValue($event.option.value)">
                        <mat-option *ngFor="let option of filteredInsuranceComp | async" [value]="option.Code">
                            {{option.CodeDesc}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FormGroupData.get('Inscompanyid').errors">
                        {{FormGroupData.controls['Inscompanyid'].errors.message}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="py-1">Status</div>
                <mat-radio-group aria-label="Select an option" formControlName="Status">
                    <mat-radio-button value="Y">Active</mat-radio-button>
                    <mat-radio-button value="N">De-Active</mat-radio-button>
                    <mat-radio-button value="R">Referral</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-action-row class="justify-content-center">
            <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
            <button mat-raised-button color="primary" (click)="onFormSubmit()">Submit</button>
        </mat-action-row>
    </form>
</ng-container>-->