<div class="card" *ngIf="DocumentImageList.length != 0">
    <div class="card-header">
        Surveyor Documents
    </div>
    <div class="card-body">
        <div *ngIf="NoDocumentList.length>0">
            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-warning">
                    <div class="row">
                        <div class="col-md-3">
                            DOCUMENT NAME
                        </div>
                        <div class="col-md-3">
                            SURVEYOR REMARKS
                        </div>
                        <div class="col-md-3">
                            CLAIMOFFICER REMARKS
                        </div>
                        <div class="col-md-3">
                            ACTION
                        </div>

                    </div>
                </li>
                <li class="list-group-item" *ngFor="let item of NoDocumentList">
                    <div class="row">
                        <div class="col-md-3">
                            {{item.documentDesc}}
                        </div>
                        <div class="col-md-3">
                            {{item.Remarks}}
                        </div>
                        <div class="col-md-3">
                            <span class="text-primary">{{item.Waiveoffyn == 'Y'?'Officer Accepted':'Not Accepted...'}}</span>, {{item.Waiveoffclaimremarks}}
                        </div>
                        <div class="col-md-3">
                            <ng-container *ngIf="logindata.UserType == 'surveyor'">
                                <button mat-raised-button color="warn" (click)="onHaveDocument(item)">I Have Document</button>
                            </ng-container>
                            <ng-container *ngIf="logindata.UserType == 'claimofficer'">
                                <mat-radio-group aria-label="Select an option" [ngModel]="item.Waiveoffyn">
                                    <mat-radio-button value="Y" (change)="onGetWaveoff(item,'Y')">Accept</mat-radio-button>
                                    <mat-radio-button value="R" (change)="onGetWaveoff(item,'N')">Reject</mat-radio-button>
                                </mat-radio-group>
                            </ng-container>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="more-document my-2">
            <mat-expansion-panel hideToggle [expanded]="panelOpen" *ngIf="addDocSection">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-plus-circle m-2"> More Document</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="more-doc-grid">
                    <div class="doc-card" *ngFor="let doc of additionalDocumentImageList">
                        <div class="p-2">
                            <mat-checkbox class="example-margin" [checked]="checkSelectedDoc(doc)">{{doc.Documentdesc}}</mat-checkbox>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </div>
        <div>
            <div class="lossdocument">
                <ng-container *ngFor="let item of DocumentImageList">
                    <mat-card class="imag-card" *ngIf="item.docApplicable == 'CLAIM-ASSESSOR'">
                        <div class="text-center d-flex" *ngIf="item.IsMandatory =='Y'">
                            <div class="text-danger flex-fill text-center" *ngIf="!claimInfo">
                                Required *
                            </div>
                        </div>
                        <input style="display: none;" type="file" (change)="onLossDocuments($event,item)" #fileInput>
                        <div id="Image_{{item.documentId}}" (click)="fileInput.click()" class="image-grid" style="
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      height: 150px;
                      width: 100%;">
                        </div>
                        <div class="text-center">
                            <span><b style="color: black;">{{item.documentDesc}}</b></span>
                            <br>
                            <div>
                                {{item.fileName}}
                            </div>
                        </div>
                        <div class="d-flex mt-1" *ngIf="my['image'+item.documentId]">
                            <a mat-raised-button class="mx-1" (click)="onViewImage(my['image'+item.documentId],item.fileName)"><i
                  class="far fa-eye mx-1"></i></a>
                            <a mat-raised-button class="mx-1" [href]="my['image'+item.documentId]" download><i
                  class="fas fa-download mx-1"></i></a>
                            <a mat-raised-button class="mx-1" (click)="onDeleteDocument(item)" [disabled]="(logindata.UserType == 'claimofficer' && !claimInfo)"><i class="far fa-trash-alt"></i></a>
                        </div>
                        <div class="text-center d-flex mt-1">
                            <ng-container *ngIf="item.IsMandatory =='Y'">
                                <div *ngIf="!my['image'+item.documentId]" class="text-primary flex-fill text-center">
                                    <mat-checkbox class="example-margin" [(ngModel)]="isCheck['document'+item.documentId]" (change)="isChangeDocumentReason($event,item)">Don't have Document</mat-checkbox>
                                </div>
                            </ng-container>
                        </div>
                    </mat-card>
                </ng-container>
            </div>
        </div>

    </div>
    <div class="card-footer text-center">
        <button mat-raised-button class="mx-1" [disabled]="damageListDisabled()" (click)="onUploadFiles()"><i
        class="fas fa-upload"></i>Upload Document</button>
    </div>
</div>