<div class="card">
        <div class="card-header">
            <div class="card-title">
                <h6 class="admin-title-header"><i class="fas fa-user-tie"></i> CURRENCY MASTER</h6>
            </div>
            <div class="admin-grid-header">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2 offset-9">
                <button mat-raised-button color="warn" (click)="onAddNew(currencymodal)">
              ADD NEW CURRENCY
            </button>
            </div>
        </div>
        <div class="card-body">
        <div *ngIf="currencyListGrid?.length > 0">
            <app-data-table-two [cols]="columnHeader" [data]="tableData" (onAction)="onActionHandler($event,currencymodal)" changestatus="true" (onStatus)="onstatus($event)" (onChangeCheckBox)="onChangeCheckBox($event)"></app-data-table-two>
        </div>
        <div class="text-center" *ngIf="currencyListGrid?.length == 0 && InsuCode!=''">
            <h3>No Data Available</h3>
        </div>
        </div>

   
    <!--<ng-container *ngIf="!panelOpen">
        <form [formGroup]="FormGroupData">
            <div class="row my-2 mt-3">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Currency Name</mat-label>
                        <input matInput type="text" formControlName="Currencyname" maxlength="50" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Shortname</mat-label>
                        <input matInput type="text" formControlName="Shortname" maxlength="50" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Subcurrency</mat-label>
                        <input matInput type="text" formControlName="Subcurrency" maxlength="50" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Country</mat-label>
                        <input type="text" placeholder="Select Insurance" matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Countryid">
                                {{option.Countryname}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                            {{FormGroupData.controls['Countryid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Core Appcode</mat-label>
                        <input matInput type="text" formControlName="Rsacode" maxlength="10" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">

                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Minimum Limit</mat-label>
                        <input matInput type="text" formControlName="Exminlmt" maxlength="10" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Maximum Limit</mat-label>
                        <input matInput type="text" formControlName="Exmaxlmt" maxlength="50" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput type="text" formControlName="Remarks" maxlength="150"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">

                <div class="col -4">
                    <div class="py-1">Status</div>
                    <mat-radio-group aria-label="Select an option" formControlName="Status">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">De-Active</mat-radio-button>
                        <mat-radio-button value="R">Referral</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <mat-action-row class="justify-content-center">
                <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
                <button mat-raised-button color="primary" (click)="onFormSubmit()">Submit</button>
            </mat-action-row>
        </form>
    </ng-container>-->
</div>




<ng-template #currencymodal let-modal>
    <div class="modal-header" style="height: 48px;">
        <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Currency Master</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="FormGroupData">
            <div class="row my-2 mt-3">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Currency Name</mat-label>
                        <input matInput type="text" formControlName="Currencyname" maxlength="50" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Shortname</mat-label>
                        <input matInput type="text" formControlName="Shortname" maxlength="50" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Subcurrency</mat-label>
                        <input matInput type="text" formControlName="Subcurrency" maxlength="50" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Country</mat-label>
                        <input type="text" placeholder="Select Insurance" matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                            <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Code">
                                {{option.CodeDesc}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                            {{FormGroupData.controls['Countryid'].errors.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Core Appcode</mat-label>
                        <input matInput type="text" formControlName="Rsacode" maxlength="10" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row my-2">

                <!--<div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Minimum Limit</mat-label>
                        <input matInput type="text" formControlName="Exminlmt" maxlength="10" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Maximum Limit</mat-label>
                        <input matInput type="text" formControlName="Exmaxlmt" maxlength="50" />
                    </mat-form-field>
                </div>-->
                <div class="col-4">
                    <mat-form-field appearance="fill" class="mat-form-width">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput type="text" formControlName="Remarks" maxlength="150"></textarea>
                    </mat-form-field>
                </div>
                <div class="col -4">
                    <div class="py-1">Status</div>
                    <mat-radio-group aria-label="Select an option" formControlName="Status">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">De-Active</mat-radio-button>
                        <!--<mat-radio-button value="R">Referral</mat-radio-button>-->
                    </mat-radio-group>
                </div>
            </div>
            <div class="row my-2">

             
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--modal.close('Save click')-->
        <button mat-raised-button color="warn" (click)="modal.dismiss('Cross click')">Close</button>
        <button mat-raised-button color="primary" (click)="onFormSubmit(modal)">Submit</button>
    </div>
  </ng-template>