<div class="card my-1">
    <div class="card-header">
        Damage Information
    </div>
    <div class="card-body">
        <div class="damgepoints1">
            <img src="./assets/Images/car-above-view.svg" width="300px" />
            <div class="First-Row one">
              <div [class.active]="damagepoints_11" (dblclick)="method2CallForDblClick(11)"
                (click)="method1CallForClick(11)" id="garage_damagepoints_11" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="First-Row two">
              <div [class.active]="damagepoints_8" (dblclick)="method2CallForDblClick(8)" (click)="method1CallForClick(8)"
                id="garage_damagepoints_8" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="First-Row three">
              <div [class.active]="damagepoints_5" (dblclick)="method2CallForDblClick(5)" (click)="method1CallForClick(5)"
                id="garage_damagepoints_5" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
        
            <div class="Second-Row Top-one">
              <div [class.active]="damagepoints_13" (dblclick)="method2CallForDblClick(13)"
                (click)="method1CallForClick(13)" id="garage_damagepoints_13" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Right-one">
              <div [class.active]="damagepoints_15" (dblclick)="method2CallForDblClick(15)"
                (click)="method1CallForClick(15)" id="garage_damagepoints_15" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Left-one">
              <div [class.active]="damagepoints_16" (dblclick)="method2CallForDblClick(16)"
                (click)="method1CallForClick(16)" id="garage_damagepoints_16" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Below-one">
              <div [class.active]="damagepoints_14" (dblclick)="method2CallForDblClick(14)"
                (click)="method1CallForClick(14)" id="garage_damagepoints_14" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
        
            <div class="Second-Row center-one">
              <div [class.active]="damagepoints_10" (dblclick)="method2CallForDblClick(10)"
                (click)="method1CallForClick(10)" id="garage_damagepoints_10" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row center-two">
              <div [class.active]="damagepoints_7" (dblclick)="method2CallForDblClick(7)" (click)="method1CallForClick(7)"
                id="garage_damagepoints_7" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
        
            <div class="Second-Row Top-three">
              <div [class.active]="damagepoints_1" (dblclick)="method2CallForDblClick(1)" (click)="method1CallForClick(1)"
                id="garage_damagepoints_1" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Right-three">
              <div [class.active]="damagepoints_4" (dblclick)="method2CallForDblClick(4)" (click)="method1CallForClick(4)"
                id="garage_damagepoints_4" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Left-three">
              <div [class.active]="damagepoints_3" (dblclick)="method2CallForDblClick(3)" (click)="method1CallForClick(3)"
                id="garage_damagepoints_3" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Second-Row Below-three">
              <div [class.active]="damagepoints_2" (dblclick)="method2CallForDblClick(2)" (click)="method1CallForClick(2)"
                id="garage_damagepoints_2" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
        
            <div class="Third-Row one">
              <div [class.active]="damagepoints_12" (dblclick)="method2CallForDblClick(12)"
                (click)="method1CallForClick(12)" id="garage_damagepoints_12" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Third-Row two">
              <div [class.active]="damagepoints_9" (dblclick)="method2CallForDblClick(9)" (click)="method1CallForClick(9)"
                id="garage_damagepoints_9" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
            <div class="Third-Row three">
              <div [class.active]="damagepoints_6" (dblclick)="method2CallForDblClick(6)" (click)="method1CallForClick(6)"
                id="garage_damagepoints_6" class="damage_points">
                <i class="fas fa-circle"></i>
              </div>
            </div>
        </div>
    </div>
</div>
