<!-- <div class="bg-container">
    <div class="container">
        <div class="container-fluid">
            <br>
        </div>
        <app-login-menu></app-login-menu>
        <div class="home-conatiner">
            <div class="home-card home-card-bg-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-para">
                            <h4 class="heading">CLAIM INSURANCE</h4>
                            <p class="para">
                                In insurance, the insurance policy is a contract between the insurer and the policyholder, which determines the claims which the insurer is legally required to pay. In exchange for an initial payment, known as the premium, the insurer promises to pay
                                for loss caused by perils covered under the policy
                            </p>
                            <a target="_blank" href="https://alliance.co.tz/" mat-raised-button color="primary">Get Insurance</a>
                        </div>

                    </div>
                    <div class="col-md-6 card-bg-1">
                        <img src="./assets/Images/man.png" width="150px">
                    </div>
                </div>
            </div>
            <div class="home-card home-card-bg-2">
                <div class="row">
                    <div class="col-md-6" style="order: 2;">
                        <div class="content-para">
                            <h4 class="heading">CLAIM INTIMATE</h4>
                            <p class="para">
                                In insurance, the insurance policy is a contract between the insurer and the policyholder, which determines the claims which the insurer is legally required to pay. In exchange for an initial payment, known as the premium, the insurer promises to pay
                                for loss caused by perils covered under the policy
                            </p>
                            <button class="mx-2" mat-raised-button color="warn">Intimate Claim</button>
                        </div>

                    </div>
                    <div class="col-md-6" style="order: 1;">
                        <img style="margin-left: 130px;" src="./assets/Images/man-car.png" width="370px">
                    </div>
                </div>
            </div>
            <div class="home-card home-card-bg-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-para">
                            <h4 class="heading">CLAIM INSURANCE</h4>
                            <p class="para">
                                In insurance, the insurance policy is a contract between the insurer and the policyholder, which determines the claims which the insurer is legally required to pay. In exchange for an initial payment, known as the premium, the insurer promises to pay
                                for loss caused by perils covered under the policy
                            </p>
                            <button class="mx-2" mat-raised-button color="primary">Get Insurance</button>
                        </div>

                    </div>
                    <div class="col-md-6 card-bg-1">
                        <img src="./assets/Images/man.png" width="150px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section id="header" class="">
  <app-login-menu></app-login-menu>
</section>
<section id="hero">
    <div class="d-sm-flex flex-sm-row justify-content-sm-between align-items-center">
      <div class="p-2 hero-content d-flex justify-content-center align-items-center flex-column h-100">
        <div class="d-flex align-items-start flex-column">
          <div class="hero-title h-100">
            Quick & easy claim <br>processing at your <span style="color: #282FFF; text-decoration: underline;">Fingertips</span>
          </div>
          <div class="hero-subtitle">You are a few clicks away from claiming</div>
          <div class="hero-actions h-100">
            <button class="fs-5 fw-semibold border-0 EClaimBtn" (click)="onGetUserLogin()">Submit an e-claim</button>
          </div>
        </div>

      </div>
      <div class="hero-bg"></div>
    </div>
</section>
<section id="content-1">
  <div class="content-title">
    Why you’ll love our motor claims process
  </div>
  <div class="d-sm-flex flex-sm-row justify-content-sm-center">
    <div class="content-card">
      <div class="content-card-title">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card-contents">
            93.4%
          </div>
        </div>
      </div>
      <div class="content-card-body fw-semibold">
        Claim settlement ratio
        (Motor own damage)
      </div>
    </div>
    <div class="content-card">
      <div class="content-card-title">        
        <div class="d-flex align-items-center justify-content-center">
        <div class="card-contents">
        80%
        </div>
      </div>
      </div>
      <div class="content-card-body fw-semibold">
        Claims processed by live video inspection
      </div>
    </div>
    <div class="content-card">
      <div class="content-card-title">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card-contents">
        10,800+
      </div>
    </div>
  </div>
      <div class="content-card-body fw-semibold">
        Cashless garages
      </div>
    </div>
  </div>
</section>
<section id="content-2">
  <div class="d-sm-flex flex-sm-row justify-content-sm-center align-items-center">
     <img src="./assets/Images/tesla_blue.png" alt="tesla" style="width: 50%; object-fit: cover;">
     <div class="content-card" style="width: 50%;">
      <div class="content-title">
        How does the motor claim insurance process work?
      </div>
      <div class="content-body">
        During motor insurance claims, whether it be a car insurance claim or claim for a two-wheeler, customers often face a lot of hurdles; calling customer support multiple times, filling up the claim form, attaching the relevant documents, waiting for a surveyor to inspect damages and then taking the car to the garage for repair.
        <br><br>
        Not so with ICICI Lombard motor insurance. Our smooth and easy claim process ensures you get adequate compensation for the damages suffered within the shortest possible time. By integrating cutting-edge technology into our processes, we provide a seamless claims experience.
      </div>
     </div>
  </div>
</section>

