<div class="card border-0">
    <div class="card-header d-flex justify-content-between">
     <div>
         Customer Information
     </div>
     <div (click)="onViewInfo()">
      <i class="fas fa-chevron-down"></i></div>
     </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
              <div class="col-lg-3 col-md-3 bg-label">Customer Name</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.Contactpername == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.Contactpername}}

              </div>
              <div class="col-lg-3 col-md-3 bg-label">Customer Type</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.CustomerType == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.CustomerType}}

              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-3 col-md-3 bg-label">Contact No</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.ContactNo == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.ContactNo}}

              </div>
              <div class="col-lg-3 col-md-3 bg-label">Occupation</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.Occupation == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.Occupation}}

              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-3 col-md-3 bg-label">Email</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.Email == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.Email}}

              </div>
              <div class="col-lg-3 col-md-3 bg-label">Address</div>
              <div class="col-lg-3 col-md-3 bg-value">
                {{CustomerInformation?.PolicyInfo?.Address == null ? 'N/A':
                CustomerInformation?.PolicyInfo?.Address}}

              </div>
            </div>
          </li>
          <ng-container>
            <mat-expansion-panel [expanded]="panelOpen" class="noshadow">



            </mat-expansion-panel>
          </ng-container>
    </ul>
</div>
