<div class="card my-1">
    <div class="card-header">
        Document Information
    </div>
    <div class="card-body">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="panelOpen">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Accident Photos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="photosFile.length != 0">
                    <div class="row">
                      <ng-container *ngFor="let item of photosFile">
                        <div class="col-md-3 p-2">
                            <mat-card>
                                <div style="
                                background-image: url({{item.url}});
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 200px;
                                width: 100%;
                                ">
                                </div>
                                <div class="d-flex">
                                  <a mat-raised-button class="mx-1" (click)="onViewImage(item)"><i class="far fa-eye mx-1"></i>View</a>
                                  <a mat-raised-button class="mx-1" href="{{item.url}}" download="{{item.name}}"><i class="fas fa-download mx-1"></i>Download</a>
                                </div>
                            </mat-card>
                          
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div  *ngIf="photosFile.length == 0">
                        <div class="my-1 text-center">
                              <h3>No Documents Available</h3>
                        </div>
                  </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="panelOpen">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Document Photos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="documentFile.length != 0">
                    <div class="row">
                      <ng-container *ngFor="let item of documentFile">
                        <div class="col-md-3 p-2">
                            <mat-card>
                                <div style="
                                background-image: url({{item.url}});
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 200px;
                                width: 100%;
                                ">
                                </div>
                                <div class="d-flex">
                                  <a mat-raised-button class="mx-1" (click)="onViewImage(item)"><i class="far fa-eye mx-1"></i>View</a>
                                  <a mat-raised-button class="mx-1" href="{{item.url}}" download="{{item.name}}"><i class="fas fa-download mx-1"></i>Download</a>
                                </div>
                            </mat-card>
                          
                        </div>
                      </ng-container>
                    </div>
                 </div>
                  <div  *ngIf="documentFile.length == 0">
                        <div class="my-1 text-center">
                              <h3>No Documents Available</h3>
                        </div>
                  </div>
            </mat-expansion-panel>
        </mat-accordion>        
    </div>
</div>
