.navbar-motor {
  background-color: #fff;
}

.navbar-motor .navbar-nav .nav-link {
  color: #33358C;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.navbar-motor .navbar-nav .nav-link:hover {
  width: 100%;
  font-weight: 600;
  color: #EB2C31;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-brand {
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
