.imag-card {
  border-radius: 8px;
    cursor: pointer;
    color: white;
    padding: 1rem;
    background-color: #f1f1f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}


