<div class="card">
    <div class="card-body">
    <form [formGroup]="FormGroupData">
        <div class="row my-2">
            <div class="col-4">
               
                <mat-form-field class="mat-form-width" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="Select Country"  matInput formControlName="Countryid" [matAutocomplete]="auto2" required>
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onChangeCountryValue($event.option.value)">
                        <mat-option *ngFor="let option of filteredCountryList | async" [value]="option.Countryshortname">
                            {{option.Countryname}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FormGroupData.get('Countryid').errors">
                        {{FormGroupData.controls['Countryid'].errors.message}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Currency</mat-label>
                    <input type="text" placeholder="Select Currency" matInput formControlName="Currencyid" [matAutocomplete]="auto1" required>
                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="onChangeCurrencyValue($event.option.value)">
                        <mat-option *ngFor="let option of filteredCurrencyList | async" [value]="option.CodeDesc">
                            {{option.CodeDesc}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="FormGroupData.get('Currencyid').errors">
                        {{FormGroupData.controls['Currencyid'].errors.message}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>App Core Code</mat-label>
                    <input matInput type="text" formControlName="Rsacode" />
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="effectiveValue" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Exchange Rate</mat-label>
                    <input matInput type="text" appNumbersOnly formControlName="Exchangerate" />
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <mat-form-field appearance="fill" class="mat-form-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput type="text" formControlName="Remarks" />
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="py-1">Status</div>
                <mat-radio-group aria-label="Select an option" formControlName="Status">
                    <mat-radio-button value="Y">Active</mat-radio-button>
                    <mat-radio-button value="N">De-Active</mat-radio-button>
                    <mat-radio-button value="R">Referral</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="text-center">
            <button mat-raised-button color="warn" (click)="onCloseForm()">Back</button>
            <button mat-raised-button style="margin-left:10px;" color="primary" (click)="onSaveExchangeDetials()">Submit</button>
        </div>
    </form>
    </div>
</div>