<div class="card border-0">

    <div class="card-header">Driver Information</div>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Name</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Drivername == null ? 'N/A':DriverInfo?.Drivername}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">DOB</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Driverdob == null ? 'N/A':DriverInfo?.Driverdob}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Gender</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.DrivergenderName == null ? 'N/A':DriverInfo?.DrivergenderName}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Mobile No</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Drivermobile == null ? 'N/A':DriverInfo?.Drivermobile}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Email</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Driveremailid == null ? 'N/A':DriverInfo?.Driveremailid}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">License No</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Licenseno == null ? 'N/A':DriverInfo?.Licenseno}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">License Expire date</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Licenceexpirydate == null ? 'N/A':DriverInfo?.Licenceexpirydate}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Nationality</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.NationalityName == null ? 'N/A':DriverInfo?.NationalityName}}
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="infopadding col-lg-6 col-md-6 bg-label">Address</div>
              <div class="infopadding col-lg-6 col-md-6 bg-value">
                {{DriverInfo?.Driveraddress == null ? 'N/A':DriverInfo?.Driveraddress}}
              </div>
            </div>
        </li>

    </ul>
</div>
